# Jupyter checkpoints
.ipynb_checkpoints/

# Cache folders for pytests
.pytest_cache/
__pycache__

# Tensorboard directories
tensorboard


# Editors, OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# python environments
.python3/

# images
*.png
*.jpg
*.jpeg
*.dcm
